// Decorative Font
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
$decorative-font: "Lavishly Yours";

//Main text font
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
$main-font: "Cinzel";

$logo-font-size: 2.3rem;
$navlink-font-size: 1.2rem;
